
.vs/Lab-5/v16/

MathIntepreter/.vs/MathIntepreter/v16/

*.vcxproj

*.json

*.sqlite

*.filters

*.user

MathIntepreter/MathIntepreter.sln

*.obj

*.tlog

MathIntepreter/Debug/

MathIntepreter/ConsoleApplication1/Debug/
